QueryProxy/Service References/T2T_RManage/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://localhost:18013/TaskTarget_RManage/metadata?xsd=xsd0" namespace="http://www.artech.com" />
      <xsd:import schemaLocation="http://localhost:18013/TaskTarget_RManage/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18013/TaskTarget_RManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
      <xsd:import schemaLocation="http://localhost:18013/TaskTarget_RManage/metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TaskTarget_RManage_insertOrUpdateRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateRelation" />
  </wsdl:message>
  <wsdl:message name="TaskTarget_RManage_insertOrUpdateRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateRelationResponse" />
  </wsdl:message>
  <wsdl:message name="TaskTarget_RManage_deleteRelation_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteRelation" />
  </wsdl:message>
  <wsdl:message name="TaskTarget_RManage_deleteRelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteRelationResponse" />
  </wsdl:message>
  <wsdl:message name="TaskTarget_RManage_queryTargetName_InputMessage">
    <wsdl:part name="parameters" element="tns:queryTargetName" />
  </wsdl:message>
  <wsdl:message name="TaskTarget_RManage_queryTargetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryTargetNameResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskTarget_RManage">
    <wsdl:operation name="insertOrUpdateRelation">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskTarget_RManage/insertOrUpdateRelation" message="tns:TaskTarget_RManage_insertOrUpdateRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskTarget_RManage/insertOrUpdateRelationResponse" message="tns:TaskTarget_RManage_insertOrUpdateRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteRelation">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskTarget_RManage/deleteRelation" message="tns:TaskTarget_RManage_deleteRelation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskTarget_RManage/deleteRelationResponse" message="tns:TaskTarget_RManage_deleteRelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryTargetName">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskTarget_RManage/queryTargetName" message="tns:TaskTarget_RManage_queryTargetName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskTarget_RManage/queryTargetNameResponse" message="tns:TaskTarget_RManage_queryTargetName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>