QueryProxy/Service References/T2T_RManage/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DZY_GGFW_DAMPETASKTARGET_R">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TARGETID" type="xs:int" />
      <xs:element minOccurs="0" name="TASKID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DZY_GGFW_DAMPETASKTARGET_R" nillable="true" type="tns:DZY_GGFW_DAMPETASKTARGET_R" />
</xs:schema>