QueryProxy/Service References/TaskManage/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://localhost:18011/TaskManage/metadata?xsd=xsd0" namespace="http://www.artech.com" />
      <xsd:import schemaLocation="http://localhost:18011/TaskManage/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18011/TaskManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TaskManage_insertOrUpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateTask" />
  </wsdl:message>
  <wsdl:message name="TaskManage_insertOrUpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskManage_deleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTask" />
  </wsdl:message>
  <wsdl:message name="TaskManage_deleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskManage_queryTask_InputMessage">
    <wsdl:part name="parameters" element="tns:queryTask" />
  </wsdl:message>
  <wsdl:message name="TaskManage_queryTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryTaskResponse" />
  </wsdl:message>
  <wsdl:message name="TaskManage_queryTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:queryTasks" />
  </wsdl:message>
  <wsdl:message name="TaskManage_queryTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskManage">
    <wsdl:operation name="insertOrUpdateTask">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskManage/insertOrUpdateTask" message="tns:TaskManage_insertOrUpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskManage/insertOrUpdateTaskResponse" message="tns:TaskManage_insertOrUpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTask">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskManage/deleteTask" message="tns:TaskManage_deleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskManage/deleteTaskResponse" message="tns:TaskManage_deleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryTask">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskManage/queryTask" message="tns:TaskManage_queryTask_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskManage/queryTaskResponse" message="tns:TaskManage_queryTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryTasks">
      <wsdl:input wsaw:Action="http://www.artech.com/TaskManage/queryTasks" message="tns:TaskManage_queryTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/TaskManage/queryTasksResponse" message="tns:TaskManage_queryTasks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>