QueryProxy/Service References/TaskManage/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.artech.com" elementFormDefault="qualified" targetNamespace="http://www.artech.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18011/TaskManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
  <xs:element name="insertOrUpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="task" nillable="true" type="q1:DZY_GGFW_DAMPETask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrUpdateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="task" nillable="true" type="q2:DZY_GGFW_DAMPETask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="queryTaskResult" nillable="true" type="q3:DZY_GGFW_DAMPETask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="starttime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="queryTasksResult" nillable="true" type="q4:ArrayOfDZY_GGFW_DAMPETask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>