QueryProxy/Service References/PlanManage/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://localhost:18012/PlanManage/metadata?xsd=xsd0" namespace="http://www.artech.com" />
      <xsd:import schemaLocation="http://localhost:18012/PlanManage/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18012/PlanManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
      <xsd:import schemaLocation="http://localhost:18012/PlanManage/metadata?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PlanManage_insertOrUpdatePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdatePlan" />
  </wsdl:message>
  <wsdl:message name="PlanManage_insertOrUpdatePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdatePlanResponse" />
  </wsdl:message>
  <wsdl:message name="PlanManage_deletePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePlan" />
  </wsdl:message>
  <wsdl:message name="PlanManage_deletePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePlanResponse" />
  </wsdl:message>
  <wsdl:message name="PlanManage_queryPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:queryPlan" />
  </wsdl:message>
  <wsdl:message name="PlanManage_queryPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryPlanResponse" />
  </wsdl:message>
  <wsdl:message name="PlanManage_queryPlanID_InputMessage">
    <wsdl:part name="parameters" element="tns:queryPlanID" />
  </wsdl:message>
  <wsdl:message name="PlanManage_queryPlanID_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryPlanIDResponse" />
  </wsdl:message>
  <wsdl:portType name="PlanManage">
    <wsdl:operation name="insertOrUpdatePlan">
      <wsdl:input wsaw:Action="http://www.artech.com/PlanManage/insertOrUpdatePlan" message="tns:PlanManage_insertOrUpdatePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/PlanManage/insertOrUpdatePlanResponse" message="tns:PlanManage_insertOrUpdatePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePlan">
      <wsdl:input wsaw:Action="http://www.artech.com/PlanManage/deletePlan" message="tns:PlanManage_deletePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/PlanManage/deletePlanResponse" message="tns:PlanManage_deletePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryPlan">
      <wsdl:input wsaw:Action="http://www.artech.com/PlanManage/queryPlan" message="tns:PlanManage_queryPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/PlanManage/queryPlanResponse" message="tns:PlanManage_queryPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryPlanID">
      <wsdl:input wsaw:Action="http://www.artech.com/PlanManage/queryPlanID" message="tns:PlanManage_queryPlanID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/PlanManage/queryPlanIDResponse" message="tns:PlanManage_queryPlanID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>