QueryProxy/Service References/DingBiaoManage/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DZY_GGFW_DAMPEDINGBIAOTASK">
    <xs:sequence>
      <xs:element minOccurs="0" name="ENDTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="STARTTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DZY_GGFW_DAMPEDINGBIAOTASK" nillable="true" type="tns:DZY_GGFW_DAMPEDINGBIAOTASK" />
  <xs:complexType name="ArrayOfDZY_GGFW_DAMPEDINGBIAOTASK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DZY_GGFW_DAMPEDINGBIAOTASK" nillable="true" type="tns:DZY_GGFW_DAMPEDINGBIAOTASK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDZY_GGFW_DAMPEDINGBIAOTASK" nillable="true" type="tns:ArrayOfDZY_GGFW_DAMPEDINGBIAOTASK" />
</xs:schema>