QueryProxy/Service References/DingBiaoManage/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.artech.com" elementFormDefault="qualified" targetNamespace="http://www.artech.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18015/DingBiaoManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
  <xs:element name="insertOrUpdateDingBiao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="dingbiao" nillable="true" type="q1:DZY_GGFW_DAMPEDINGBIAOTASK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrUpdateDingBiaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDingBiao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="dingbiao" nillable="true" type="q2:DZY_GGFW_DAMPEDINGBIAOTASK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDingBiaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryDingBiaobyPlanID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryDingBiaobyPlanIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="queryDingBiaobyPlanIDResult" nillable="true" type="q3:ArrayOfDZY_GGFW_DAMPEDINGBIAOTASK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>