QueryProxy/Service References/DingBiaoManage/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://localhost:18015/DingBiaoManage/metadata?xsd=xsd0" namespace="http://www.artech.com" />
      <xsd:import schemaLocation="http://localhost:18015/DingBiaoManage/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18015/DingBiaoManage/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DingBiaoManage_insertOrUpdateDingBiao_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateDingBiao" />
  </wsdl:message>
  <wsdl:message name="DingBiaoManage_insertOrUpdateDingBiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateDingBiaoResponse" />
  </wsdl:message>
  <wsdl:message name="DingBiaoManage_deleteDingBiao_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDingBiao" />
  </wsdl:message>
  <wsdl:message name="DingBiaoManage_deleteDingBiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDingBiaoResponse" />
  </wsdl:message>
  <wsdl:message name="DingBiaoManage_queryDingBiaobyPlanID_InputMessage">
    <wsdl:part name="parameters" element="tns:queryDingBiaobyPlanID" />
  </wsdl:message>
  <wsdl:message name="DingBiaoManage_queryDingBiaobyPlanID_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryDingBiaobyPlanIDResponse" />
  </wsdl:message>
  <wsdl:portType name="DingBiaoManage">
    <wsdl:operation name="insertOrUpdateDingBiao">
      <wsdl:input wsaw:Action="http://www.artech.com/DingBiaoManage/insertOrUpdateDingBiao" message="tns:DingBiaoManage_insertOrUpdateDingBiao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/DingBiaoManage/insertOrUpdateDingBiaoResponse" message="tns:DingBiaoManage_insertOrUpdateDingBiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDingBiao">
      <wsdl:input wsaw:Action="http://www.artech.com/DingBiaoManage/deleteDingBiao" message="tns:DingBiaoManage_deleteDingBiao_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/DingBiaoManage/deleteDingBiaoResponse" message="tns:DingBiaoManage_deleteDingBiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryDingBiaobyPlanID">
      <wsdl:input wsaw:Action="http://www.artech.com/DingBiaoManage/queryDingBiaobyPlanID" message="tns:DingBiaoManage_queryDingBiaobyPlanID_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/DingBiaoManage/queryDingBiaobyPlanIDResponse" message="tns:DingBiaoManage_queryDingBiaobyPlanID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>