QueryProxy/Service References/PointTargetManage/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDZY_GGFW_DAMPEPOINTTARGET">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DZY_GGFW_DAMPEPOINTTARGET" nillable="true" type="tns:DZY_GGFW_DAMPEPOINTTARGET" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDZY_GGFW_DAMPEPOINTTARGET" nillable="true" type="tns:ArrayOfDZY_GGFW_DAMPEPOINTTARGET" />
  <xs:complexType name="DZY_GGFW_DAMPEPOINTTARGET">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALLOWABLEVIRATION" type="xs:float" />
      <xs:element minOccurs="0" name="DETECTNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETECTTIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LATITUDE" type="xs:double" />
      <xs:element minOccurs="0" name="LONGTITUDE" type="xs:double" />
      <xs:element minOccurs="0" name="PRIORITY" type="xs:int" />
      <xs:element minOccurs="0" name="PROPOSEPERSON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROPOSETIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TARGETCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DZY_GGFW_DAMPEPOINTTARGET" nillable="true" type="tns:DZY_GGFW_DAMPEPOINTTARGET" />
  <xs:complexType name="ArrayOfDZY_GGFW_DAMPETask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DZY_GGFW_DAMPETask" nillable="true" type="tns:DZY_GGFW_DAMPETask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDZY_GGFW_DAMPETask" nillable="true" type="tns:ArrayOfDZY_GGFW_DAMPETask" />
  <xs:complexType name="DZY_GGFW_DAMPETask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ENDTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LATITUDE" type="xs:float" />
      <xs:element minOccurs="0" name="LONGTITUDE" type="xs:float" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STARTTIME" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TASKID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEWTYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DZY_GGFW_DAMPETask" nillable="true" type="tns:DZY_GGFW_DAMPETask" />
</xs:schema>