QueryProxy/Service References/ParaConfiguration/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18016/ParaConfig/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
  <xs:element name="insertOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="paraConfig" nillable="true" type="q1:DZY_GGFW_DAMPECSPZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryAllConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="queryAllConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="queryAllConfigResult" nillable="true" type="q2:ArrayOfDZY_GGFW_DAMPECSPZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>