QueryProxy/Service References/ParaConfiguration/ParaConfiguration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParaConfiguration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ParaConfiguration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18016/ParaConfig/metadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18016/ParaConfig/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18016/ParaConfig/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ParaConfiguration_insertOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdate" />
  </wsdl:message>
  <wsdl:message name="ParaConfiguration_insertOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ParaConfiguration_queryAllConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:queryAllConfig" />
  </wsdl:message>
  <wsdl:message name="ParaConfiguration_queryAllConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:queryAllConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="ParaConfiguration">
    <wsdl:operation name="insertOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ParaConfiguration/insertOrUpdate" message="tns:ParaConfiguration_insertOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ParaConfiguration/insertOrUpdateResponse" message="tns:ParaConfiguration_insertOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="queryAllConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/ParaConfiguration/queryAllConfig" message="tns:ParaConfiguration_queryAllConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ParaConfiguration/queryAllConfigResponse" message="tns:ParaConfiguration_queryAllConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ParaConfiguration" type="tns:ParaConfiguration">
    <wsp:PolicyReference URI="#WSHttpBinding_ParaConfiguration_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertOrUpdate">
      <soap12:operation soapAction="http://tempuri.org/ParaConfiguration/insertOrUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllConfig">
      <soap12:operation soapAction="http://tempuri.org/ParaConfiguration/queryAllConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParaConfiguration">
    <wsdl:port name="WSHttpBinding_ParaConfiguration" binding="tns:WSHttpBinding_ParaConfiguration">
      <soap12:address location="http://localhost:19016/ParaConfig" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:19016/ParaConfig</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>