QueryProxy/Service References/OrbitQueryService/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.artech.com" elementFormDefault="qualified" targetNamespace="http://www.artech.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18009/QueryService_online/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonService.Model" />
  <xs:import schemaLocation="http://localhost:18009/QueryService_online/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommonService.Contract" />
  <xs:import schemaLocation="http://localhost:18009/QueryService_online/metadata?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:18009/QueryService_online/metadata?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="ConnectTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectTestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DMZDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetDMZXXResult" nillable="true" type="q1:DZY_GGFW_DMZXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDMZXX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDMZXXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllDMZXXResult" nillable="true" type="q2:ArrayOfDZY_GGFW_DMZXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXByDMZLX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DMZLX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXByDMZLXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetDMZXXByDMZLXResult" nillable="true" type="q3:ArrayOfDZY_GGFW_DMZXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXWithDMZJSTX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DMZDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXWithDMZJSTXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetDMZXXWithDMZJSTXResult" nillable="true" type="q4:DMZWithTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDMZXXWithDMZJSTX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDMZXXWithDMZJSTXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetAllDMZXXWithDMZJSTXResult" nillable="true" type="q5:ArrayOfDMZWithTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXWithDMZJSTXByDMZLX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DMZLX" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMZXXWithDMZJSTXByDMZLXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetDMZXXWithDMZJSTXByDMZLXResult" nillable="true" type="q6:ArrayOfDMZWithTX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYXZHXX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYXZHXXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetYXZHXXResult" nillable="true" type="q7:ArrayOfDZY_GGFW_YXZHXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTZCQKXGCRW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KSSJ" type="xs:dateTime" />
        <xs:element minOccurs="0" name="JSSJ" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTZCQKXGCRWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTZCQKXGCRWResult" nillable="true" type="q8:ArrayOfDZY_GGFW_HXMTZCQGCRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LongTermPlanBHList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LongTermPlanBHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LongTermPlanBHListResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MidTremPlanBHList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MidTremPlanBHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MidTremPlanBHListResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortTremPlanBHList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortTremPlanBHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ShortTremPlanBHListResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortTermPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JHBH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortTermPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="ShortTermPlanResult" nillable="true" type="q12:DZY_GGFW_HXMTDQKXGCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LongTermPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JHBH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LongTermPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="LongTermPlanResult" nillable="true" type="q13:DZY_GGFW_HXMTZCQKXGCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShortTermPlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShortTermPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllShortTermPlanResult" nillable="true" type="q14:ArrayOfDZY_GGFW_HXMTDQKXGCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMiddleTermPlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMiddleTermPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllMiddleTermPlanResult" nillable="true" type="q15:ArrayOfDZY_GGFW_HXMTZCQKXGCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLongTermPlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLongTermPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllLongTermPlanResult" nillable="true" type="q16:ArrayOfDZY_GGFW_HXMTZCQKXGCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetShortTasksResult" nillable="true" type="q17:ArrayOfDZY_GGFW_HXMTDQGCRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLongTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLongTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetLongTasksResult" nillable="true" type="q18:ArrayOfDZY_GGFW_HXMTZCQGCRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTGCY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GCYBH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTGCYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTGCYResult" nillable="true" type="q19:DZY_GGFW_HXMTGCY" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTSCJH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTSCJHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllHXMTSCJHResult" nillable="true" type="q20:ArrayOfDZY_GGFW_HXMTSCJH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTSAAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTSAADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllHXMTSAADResult" nillable="true" type="q21:ArrayOfDZY_GGFW_HXMTSAASD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTSCJHHFMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SCJHLSH" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTSCJHHFMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTSCJHHFMSResult" nillable="true" type="q22:ArrayOfDZY_GGFW_HXMTSCJHHFMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTSCJHTSQK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SCJHLSH" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTSCJHTSQKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTSCJHTSQKResult" nillable="true" type="q23:ArrayOfDZY_GGFW_HXMTSCJHTSQK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHXMTRW">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="task" nillable="true" type="q24:DZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHXMTRWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddHXMTRWResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHXMTRW">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="hxmtrw" nillable="true" type="q25:DZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHXMTRWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHXMTRWResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHXMTRW">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="hxmtrw" nillable="true" type="q26:DZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelHXMTRWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelHXMTRWResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTRWByRWH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RWH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTRWByRWHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTRWByRWHResult" nillable="true" type="q27:DZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTRWBYTAH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TAH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHXMTRWBYTAHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetHXMTRWBYTAHResult" nillable="true" type="q28:ArrayOfDZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTRW">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHXMTRWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetAllHXMTRWResult" nillable="true" type="q29:ArrayOfDZY_GGFW_HXMTRW" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGDGCSJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RWH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGDGCSJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetGDGCSJResult" nillable="true" type="q30:ArrayOfDZY_GGFW_HXMTRWGDGCSJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGDGCSJList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="list" nillable="true" type="q31:ArrayOfDZY_GGFW_HXMTRWGDGCSJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGDGCSJListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGDGCSJListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGDGCCSJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="item" nillable="true" type="q32:DZY_GGFW_HXMTRWGDGCSJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGDGCCSJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGDGCCSJResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGDGSCJ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="item" nillable="true" type="q33:DZY_GGFW_HXMTRWGDGCSJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGDGSCJResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGDGSCJResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGDGCSJByRWH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RWH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGDGCSJByRWHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelGDGCSJByRWHResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGDGCSJByBH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGDGCSJByBHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelGDGCSJByBHResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkyMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="mark" nillable="true" type="q34:SkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkyMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSkyMarkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkyMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="marks" nillable="true" type="q35:ArrayOfSkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkyMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSkyMarksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetSkyMarksResult" nillable="true" type="q36:ArrayOfSkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarkByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarkByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetSkyMarkByNameResult" nillable="true" type="q37:SkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarkByCatlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="catlog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyMarkByCatlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetSkyMarkByCatlogResult" nillable="true" type="q38:ArrayOfSkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkyMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="mark" nillable="true" type="q39:SkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSkyMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSkyMarkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSkyMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="mark" nillable="true" type="q40:SkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSkyMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSkyMarkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSkyMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="marks" nillable="true" type="q41:ArrayOfSkyMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSkyMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSkyMarksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridInfoFromMonFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SatelliteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoadCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsDone" type="xs:boolean" />
        <xs:element minOccurs="0" name="minGroupNo" type="xs:int" />
        <xs:element minOccurs="0" name="maxGroupNo" type="xs:int" />
        <xs:element minOccurs="0" name="kssj" type="xs:dateTime" />
        <xs:element minOccurs="0" name="jssj" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridInfoFromMonFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetGridInfoFromMonFileResult" nillable="true" type="q42:ArrayOfObservationInfoGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridInfoFromDayFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SatelliteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoadCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsDone" type="xs:boolean" />
        <xs:element minOccurs="0" name="minGroupNo" type="xs:int" />
        <xs:element minOccurs="0" name="maxGroupNo" type="xs:int" />
        <xs:element minOccurs="0" name="kssj" type="xs:dateTime" />
        <xs:element minOccurs="0" name="jssj" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridInfoFromDayFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetGridInfoFromDayFileResult" nillable="true" type="q43:ArrayOfObservationInfoGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SatelliteCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoadCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsDone" type="xs:boolean" />
        <xs:element minOccurs="0" name="gridID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetCoverageInfoResult" nillable="true" type="q44:CoverageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zt" type="xs:decimal" />
        <xs:element minOccurs="0" name="kssj" type="xs:dateTime" />
        <xs:element minOccurs="0" name="jssj" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetTargetsInfoResult" nillable="true" type="q45:ArrayOfDZY_GGFW_HXMTMBGCXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetCoveragesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zt" type="xs:decimal" />
        <xs:element minOccurs="0" name="targetID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetCoveragesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="GetTargetCoveragesInfoResult" nillable="true" type="q46:ArrayOfDZY_GGFW_HXMTMBGCXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTargetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="targetInfo" nillable="true" type="q47:DZY_GGFW_HXMTMBGCXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTargetInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestSSGDGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestSSGDGSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetLastestSSGDGSResult" nillable="true" type="q48:OrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestSSGDGSByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestSSGDGSByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetLastestSSGDGSByTimeResult" nillable="true" type="q49:OrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSGDGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KSSJ" type="xs:dateTime" />
        <xs:element minOccurs="0" name="JSSJ" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSGDGSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetSSGDGSResult" nillable="true" type="q50:ArrayOfOrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestPJGDGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestPJGDGSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetLastestPJGDGSResult" nillable="true" type="q51:OrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestPJGDGSByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastestPJGDGSByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetLastestPJGDGSByTimeResult" nillable="true" type="q52:OrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPJGDGS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KSSJ" type="xs:dateTime" />
        <xs:element minOccurs="0" name="JSSJ" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPJGDGSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CommonService.Contract" minOccurs="0" name="GetPJGDGSResult" nillable="true" type="q53:ArrayOfOrbitalElemet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrbitalTimesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrbitalTimesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrbitalTimesInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocalObitalTimesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="WXDH" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocalObitalTimesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CommonService.Model" minOccurs="0" name="UpdateLocalObitalTimesInfoResult" nillable="true" type="q54:ArrayOfDZY_GGFW_WXGDQCXX" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>