QueryProxy/Service References/OrbitQueryService/QueryService_online.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.artech.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QueryService_online" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_QueryService_online_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.artech.com" location="http://localhost:18009/QueryService_online/metadata?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_QueryService_online" type="i0:QueryService_online">
    <wsp:PolicyReference URI="#WSHttpBinding_QueryService_online_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectTest">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/ConnectTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDMZXX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetDMZXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDMZXX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllDMZXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDMZXXByDMZLX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetDMZXXByDMZLX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDMZXXWithDMZJSTX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetDMZXXWithDMZJSTX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDMZXXWithDMZJSTX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllDMZXXWithDMZJSTX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDMZXXWithDMZJSTXByDMZLX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetDMZXXWithDMZJSTXByDMZLX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYXZHXX">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetYXZHXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTZCQKXGCRW">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTZCQKXGCRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LongTermPlanBHList">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/LongTermPlanBHList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MidTremPlanBHList">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/MidTremPlanBHList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortTremPlanBHList">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/ShortTremPlanBHList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortTermPlan">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/ShortTermPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LongTermPlan">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/LongTermPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllShortTermPlan">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllShortTermPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMiddleTermPlan">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllMiddleTermPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLongTermPlan">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllLongTermPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortTasks">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetShortTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLongTasks">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetLongTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTGCY">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTGCY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHXMTSCJH">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllHXMTSCJH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHXMTSAAD">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllHXMTSAAD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTSCJHHFMS">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTSCJHHFMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTSCJHTSQK">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTSCJHTSQK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHXMTRW">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/AddHXMTRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHXMTRW">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/UpdateHXMTRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHXMTRW">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/DelHXMTRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTRWByRWH">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTRWByRWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHXMTRWBYTAH">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetHXMTRWBYTAH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHXMTRW">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetAllHXMTRW" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGDGCSJ">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetGDGCSJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGDGCSJList">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/AddGDGCSJList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGDGCCSJ">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/AddGDGCCSJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGDGSCJ">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/UpdateGDGSCJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGDGCSJByRWH">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/DelGDGCSJByRWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelGDGCSJByBH">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/DelGDGCSJByBH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSkyMark">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/AddSkyMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSkyMarks">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/AddSkyMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkyMarks">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetSkyMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkyMarkByName">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetSkyMarkByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkyMarkByCatlog">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetSkyMarkByCatlog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSkyMark">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/UpdateSkyMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSkyMark">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/DelSkyMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSkyMarks">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/DelSkyMarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridInfoFromMonFile">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetGridInfoFromMonFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGridInfoFromDayFile">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetGridInfoFromDayFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoverageInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetCoverageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetsInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetTargetsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTargetCoveragesInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetTargetCoveragesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTargetInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/SaveTargetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastestSSGDGS">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetLastestSSGDGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastestSSGDGSByTime">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetLastestSSGDGSByTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSSGDGS">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetSSGDGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastestPJGDGS">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetLastestPJGDGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastestPJGDGSByTime">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetLastestPJGDGSByTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPJGDGS">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetPJGDGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrbitalTimesInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/GetOrbitalTimesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalObitalTimesInfo">
      <soap12:operation soapAction="http://www.artech.com/QueryService_online/UpdateLocalObitalTimesInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService_online">
    <wsdl:port name="WSHttpBinding_QueryService_online" binding="tns:WSHttpBinding_QueryService_online">
      <soap12:address location="http://localhost:19009/QueryService_online" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:19009/QueryService_online</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>